include ../slider/slider
include ../navbar/navbar

mixin header(hasSlider)
  // Menu bars
  header.header
    a.header__sitename(href='/')
      span.header__sitename-red FUN!
      span.header__sitename-black Japan Malaysia
    form.header__search(role="form", action="/Search", method="get")
      input(type="text", placeholder="Search")
      i.fa.fa-search
    a.header__advanced-search(href='#')
      span Advanced
    .header__notifications
      ul.nav
          li.dropdown#notifications
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-bell
              span.badge-number 10                                        
            .dropdown-menu
              .dropdown-menu__list#notification-list
                ul
                  each noti, index in notification
                    li
                      a(href='#')
                        .notification
                          img(src=noti.img_src)
                          if index == 0
                            .notification__message.notification__message--new
                              p.notification__content
                                span.notification__user-name=noti.user_name                             
                                span.notification__action=noti.action
                              p.notification__time
                                i.fa.fa-clock-o
                                span=noti.time
                          else
                            .notification__message
                              p.notification__content
                                span.notification__user-name=noti.user_name                             
                                span.notification__action=noti.action
                              p.notification__time
                                i.fa.fa-clock-o
                                span=noti.time
              .dropdown-menu__extra-info
                a(href='#') Show all
              .dropdown-menu__extra-info
                span There is no message!
    .user-settings
      ul.nav
        // If is authenticated
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.zmdi.zmdi-account-circle
          .dropdown-menu
            .box-sum-ranking
              .bsr-sum-left
                img(src='images/ic_bronze.png')
                .bsr-detail
                  .brs-title Bronze
                  .brs-month Next month : 
                  .brs-promotion Regular (stay)
              .brs-point
                span.point 6,070 
                span.currence Points
              .brs-star
                span.star.is-checked
                span.star.is-checked
                span.star
                span.star
            ul.list-items
              each val, index in account_info
                li
                  a(href=val.href)=val.title 
              li
                a(href='#')
                  i.zmdi.zmdi-account
                  |   Logout
        // If not authenticated
        li.dropdown.dropdown--unauthen(style='display: none')
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.zmdi.zmdi-account-circle
          .dropdown-menu
            ul.list-items
              li
                a(href='#')
                  i.fa.fa-unlock-alt
                  |  Register
              li
                a(href='#')
                  i.fa.fa-user
                  |  Login
      
  // Slider
  if hasSlider
    +slider

  // NAVBAR
  +navbar
