mixin navbar()
  .fj-navbar
    .container
      nav.navbar.navbar-default
        ul.nav.navbar-nav
          li
            a(href='/index.html')
              i.zmdi.zmdi-ticket-star
              span Campaigns
          li
            a(href='#')
              i.zmdi.zmdi-card-giftcard
              span Rewards
          each menu in menus
            if menu.href_id != "social-dropdown" && menu.href_id != "legal-dropdown" && menu.href_id != "info-dropdown"                     
              li.dropdown
                a.fj-tab(data-toggle='tab', href=`#${menu.href_id}`)
                  i(class=`zmdi ${menu.icon}`)
                  span #{menu.title}
                .caret-up
                  i.fa.fa-caret-up
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#')
              i.fa.fa-facebook-square
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-youtube-play
      .tab-content
        each menu in menus
          if menu.href_id != "social-dropdown" && menu.href_id != "legal-dropdown" && menu.href_id != "info-dropdown"
            div(class="tab-pane navbar-tab fade", id=`${menu.href_id}`)
              ul.tab-content-menu
                if menu.href_id === "tags-dropdown"
                  each submenu in menu.submenus
                    li.hot-tags
                      a(href='#')
                        span.hashtag # 
                        | #{submenu}
                else              
                  each submenu in menu.submenus
                    li.vertical-bar
                      a(href='#') |
                    li
                      a(href='#')=submenu
                  li.vertical-bar
                    a(href='#') |
  #nav-affix.fj-navbar-mobile
      .container
        ul.list-inline
          li
            a(href='#')
              span CAMPAIGNS
          li
            a(href='#')
              span REWARDS
          each menu in menus
            if menu.href_id === "info-dropdown"
              li.dropdown#lastitem
                a.fj-tab(data-toggle='tab', href=`#${menu.mobile.href_id}`)
                  span #{menu.title}
                .caret-up
                  i.fa.fa-caret-up
            else
              li.dropdown
                a.fj-tab(data-toggle='tab', href=`#${menu.mobile.href_id}`)
                  span #{menu.title}
                .caret-up
                  i.fa.fa-caret-up
      .tab-content
        each menu in menus
          div(class="tab-pane navbar-tab fade", id=`${menu.mobile.href_id}`)
            if menu.mobile.href_id === "sm-tags-dropdown"
              ul.tab-content-menu
                each submenu in menu.submenus
                  li.hot-tags
                    a(href='#')
                      span.hashtag # 
                      | #{submenu}
            else if menu.mobile.href_id === "sm-social-dropdown"
              .sns-btn-fanpage
                ul.list-inline
                  each submenu in menu.submenus              
                    li
                      a.btn.btn-sns
                        i(class="fa " + submenu.class, aria-hidden='true')
                        span &nbsp;#{submenu.title}
            else
              ul.tab-content-menu 
                each submenu in menu.submenus
                  li.vertical-bar
                    a(href='#') |
                  li
                    a(href='#')=submenu
                li.vertical-bar
                  a(href='#') |       
