mixin slider()
  // SLIDER
  #banner-top-sliderFrame
    // MAIN IMAGES
    #banner-top-slider
      each val in slide_images
        a.lazyImage(href=val.main_image_src, title="#" + val.title_id)
    // MAIN IMAGES
    // CAPTIONS
    div(style='display: none;')
      each val in slide_images
        div(id=val.title_id)
          a(href='#')
            .slider-summary
              p.slider-summary__title=val.heading
              p.slider-summary__description=val.description
              p.slider-summary__read-more
                span more &nbsp;
                  i.zmdi.zmdi-more
    // EOF CAPTIONS
    // THUMBNAIS
    #banner-top-thumbs
      each slide_image in slide_images
        .thumb(style="background-image: url('" + slide_image.thumb.thumb_src + "');")
          .thumb-content-wrapper
            p.thumb-content=slide_image.thumb.description
          div(style='clear:both;')
          .thumb__layer    
    // EOF THUMBNAIS
    // EOF SLIDER
