include ./../shared/engagement

mixin popular-post-card-item(post_item)
  .row
    .col-xs-12
      .list-group-item
        .row.gutter-12
          .col-md-39.pp-item-thumbnail
            a(href=post_item.href)
              img(src=post_item.thumb_src)
          .col-md-61
            .pp-item-info
              a(href=post_item.href)
                p.pp-item-title=post_item.title
              +engagement
        img.pp-icon(src=post_item.category_icon_src)
